/* filepath: /Users/sdongmaker/VScode/wiki/CcEmbyWiki/.vitepress/styles.css */
.hero-image {
    background: radial-gradient(circle, #d2a679 10%, #fcefe3 80%);
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
}